<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="google-site-verification" content="D8HT8GR2jZhfTsWIQFN84uTVmEehlHM-FkmvXfJXydM" />
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <!-- 추가로 테마 CSS, head include 등 -->
    {% if site.google_analytics %}
      <!-- Google Analytics code -->
    {% endif %}
  </head>
  <body>
    {% include header.html %}
    <main class="container">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
